body {
  /*	font-family: Verdana, Geneva, Tahoma, sans-serif;

*/

  font-family: 'Open Sans', sans-serif;

  font-variant-ligatures: none;

  font-size: 95%;

  color: #2d002d;

  font-weight: normal;

  letter-spacing: 0.1em;

  position: static;

  text-align: left;

  background-color: #007aa8;
}

h1 {
  font-family: Verdana;

  font-size: 200%;

  color: #008080;

  text-align: center;

  text-transform: none;

  font-weight: normal;

  padding-top: 0.8em;
}

h2 {
  font-family: Verdana;
  font-size: 18px;
  color: #008080;
  text-align: center;
  font-style: none;
  text-transform: none;
  font-weight: normal;
}
h3 {
  font-family: Verdana;
  font-size: 22px;
  color: #008080;
  text-align: center;
  font-style: none;
  text-transform: none;
  font-weight: normal;
}
h4 {
  font-family: Verdana;
  font-size: 18px;
  color: #008080;
  text-align: left;
  font-style: none;
  text-transform: none;
  font-weight: none;
  padding-top: 2em;
}
h5 {
  font-family: Verdana;
  font-size: 14px;
  color: #ffffcc;
  text-align: left;
  font-style: none;
  text-transform: none;
  font-weight: none;
}
h6 {
  font-family: Verdana;
  font-size: 12px;
  color: #000000;
  text-align: center;
  font-style: none;
  text-transform: none;
  font-weight: none;
}
sup {
  font-size: 9px;
  color: #808080;
  font-family: Verdana;
}
.ColItal {
  font-family: Verdana;
  font-size: 14px;
  color: #ae0206;
  font-style: italic;
}
.Colored {
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #ae0206;
}
.ppg {
  font-family: Verdana;
  font-size: 9px;
  color: #999999;
  vertical-align: top;
}
.super {
  font-family: Verdana;
  font-size: 9px;
  vertical-align: top;
}
.head4 {
  font-family: Verdana;
  font-size: 14px;
  color: #000000;
}
.head5 {
  font-family: Verdana;
  font-size: 18px;
  color: #000000;
}
a:link {
  text-decoration: none;
  border-bottom: none;
  color: #004386;
}
a:visited {
  text-decoration: none;
  border-bottom: none;
  color: #007aa8;
}
a:active {
  text-decoration: none;
  border-bottom-style: none;
  color: #cc0066;
  border-bottom-color: #cc0066;
}
.auto770auto-ub {
  margin: 0 auto 0 auto;
  width: 770px;
  position: relative;
  background-color: #ffffff;
  bottom: 0px;
}
.top-index {
  border-bottom: 1px solid #594b65;
  position: fixed;
  background-color: #f9f9f9;
  z-index: 10;
  top: 0px;
  padding-bottom: 0.5em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #594b65;
  width: 770px;
}
.wdth-700 {
  position: static;
  width: 700px;
}
.wdth-650 {
  position: static;
  width: 650px;
}
.datacolumn {
  position: relative;
  z-index: 6;
  margin-left: 65px;
  margin-top: 0px;
  height: auto;
  font-size: 85%;
  background-color: #ffffff;
}
.textcolumn {
  margin: 0px 65px 0 65px;
  letter-spacing: 0.1em;
  position: static;
  background-color: #ffffff;
}
.nowrap-spc {
  white-space: nowrap;
  margin: 0 1em 0 0;
}
.nowrap-spc-bright-ub {
  white-space: nowrap;
  margin: 0 1em 0 0;
  color: #ec0076;
}
.nowrap-spc-bold {
  white-space: nowrap;
  margin: 0 1em 0 0;
  color: #339966;
  font-weight: bold;
}
.parts {
  margin: 0px 0px 2px 50px;
  font-size: 84%;
  font-weight: bold;
}
.sections {
  margin: 0px 0 2px 70px;
  font-size: 84%;
  font-weight: bold;
}
.datalinks {
  margin: 5px auto 0px 10px;
  font-size: 80%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 80%;
}
.list-btm {
  margin-left: 2.5em;
  margin-top: 1em;
}

.spacercell-2em {
  vertical-align: top;
  height: 2em;
}
.spacercell-3-5em {
  vertical-align: top;
  height: 3.8em;
}
.spacercell-4-5em {
  vertical-align: top;
  height: 4.5em;
}
.spacercell-5em {
  vertical-align: top;
  height: 5em;
}
.spacercell-6em {
  vertical-align: top;
  height: 6em;
}
.spacercell-7em {
  vertical-align: top;
  height: 7em;
}
.spacercell-top-7em {
  vertical-align: top;
  height: 7.1em;
}
.spacercell-8em {
  vertical-align: top;
  height: 8em;
}
.spacercell-top {
  vertical-align: top;
  height: 8em;
  margin-top: 0px;
}
.spacercell {
  vertical-align: top;
  height: 8.2em;
}
.textcolumn-left {
  margin: 0px 30px 0 65px;
  letter-spacing: 0.1em;
  position: relative;
  text-align: left;
}
.editor-left {
  color: #095b36;
  text-align: left;
}
.chartingthe {
  font-size: 60%;
  color: #969da5;
  font-variant: small-caps;
  vertical-align: text-top;
}
.algn-right {
  text-align: right;
}
.algn-right-top {
  text-align: right;
  vertical-align: top;
}
.algn-right-btm {
  text-align: right;
  vertical-align: bottom;
}
.algn-btm {
  vertical-align: bottom;
}

.algn-center {
  text-align: center;
}
.fnt-gray {
  color: #666666;
}
.fnt-author {
  font-size: small;
  color: #808080;
}
.fnt-hidden {
  visibility: hidden;
}
.fnt-xxsmall {
  font-size: xx-small;
}
.nowrap-spc-dvdr {
  white-space: nowrap;
  margin: 0 0.5em 0 0;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: #c0c0c0;
  padding-right: 0.5em;
}
.nav-ptitle {
  color: #800080;
  font-weight: normal;
}
.box-block {
  padding: 0px;
  margin: 19px 40px 19px 40px;
}
.flt-right {
  float: right;
}
.pad-r-100 {
  padding-right: 100px;
}
.idx-link-mgn {
  margin-left: 55px;
}
.top-index-ub {
  border-bottom: 1px solid #594b65;
  position: fixed;
  background-color: #f2f2f2;
  z-index: 10;
  top: 0px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #594b65;
  width: 800px;
  line-height: 80%;
  height: 1.5em;
  font-size: 96%;
  right: auto;
  left: auto;
  border-right-style: solid;
  border-left-style: solid;
  border-right-width: thin;
  border-left-width: thin;
  border-right-color: #594b65;
  border-left-color: #594b65;
  font-weight: bold;
}
.title-parts {
  text-align: left;
  vertical-align: top;
  font-size: large;
}
.logo-left {
  margin-top: 6.5em;
  position: fixed;
  z-index: 4;
  padding-left: 0.5em;
}

.logo-left-2-5em {
  margin-top: 2.5em;
  position: fixed;
  z-index: 4;
  padding-left: 0.5em;
}
.ub-nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}
.head1-nopad {
  font-family: Verdana;
  font-size: xx-large;
  color: #008080;
  text-align: center;
  font-style: normal;
  text-transform: none;
  font-weight: none;
  margin-top: 0em;
  margin-bottom: 0.5em;
}
.logo-vmgn-10px {
  padding-top: 2em;
}
.ub-title {
  font-family: Verdana;
  font-size: 200%;
  color: #008080;
  font-weight: lighter;
}
.arrows-nav {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: bolder;
  margin: 0 1em 0 1em;
  white-space: nowrap;
}
.hd1 {
  font-family: Verdana;
  font-size: 200%;
  color: #008080;
  text-align: center;
  text-transform: none;
  font-weight: bold;
  padding-top: 0.8em;
}
text-top-right {
  text-align: right;
  vertical-align: top;
}
.text-top-right {
  text-align: right;
  vertical-align: top;
}
.font-contents-titles {
  text-align: left;
  font-weight: bold;
}
.indent-contents-sections {
  margin-left: 55px;
}
